@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Raleway&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body,
input,
button {
	font-family: "Inter", sans-serif;
}

input,
button {
	font-size: 16px;
}

button {
	cursor: pointer;
}

button:hover {
	transform: scale(1.01);
}

.head_bar {
	padding: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: cornflowerblue;
	color: white;
}

main {
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
	padding: 16px;
}

.input_section {
	display: flex;
	flex-direction: column;
	padding: 16px;
	border: 1px solid black;
	border-radius: 10px;
}

.input_section > h2 {
	text-align: center;
	color: cornflowerblue;
}

.input_section > form > .input {
	margin: 8px 0;
}

.input_section > form > button {
	background-color: rgb(126, 167, 245);
	color: white;
	border: 0;
	border-radius: 5px;
	display: block;
	width: 100%;
	padding: 8px;
	cursor: pointer;
}

.input_section > form > button > span {
	font-weight: bold;
	color: black;
}

.input_section > form > .input > input {
	display: block;
	width: 100%;
	padding: 8px;
	border-radius: 5px;
}

.input_section > form > .input > label {
	color: cornflowerblue;
	font-weight: bold;
}

.input_section > form > .input_inline {
	margin: 12px 0;
	display: flex;
	align-items: center;
}

.input_section > form > .input_inline > label {
	color: cornflowerblue;
	font-weight: bold;
	margin-right: 10px;
}

.search_section {
	margin: 16px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	border: 1px solid black;
	border-radius: 10px;
}

.search_section > h2 {
	color: cornflowerblue;
}

.search_section > form {
	padding: 16px;
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr 0.5fr;
	grid-gap: 10px;
}

.search_section > form > label {
	display: flex;
	align-items: center;
	font-size: 1.3em;
}

.search_section > form > input {
	padding: 5px;
	border-radius: 15px;
}

.search_section > form > button {
	background-color: rgb(129, 169, 243);
	color: white;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

.book_shelf {
	margin: 16px 0 0 0;
	border: 1px solid black;
	padding: 16px;
	border-radius: 10px;
}

.book_shelf > h2 {
	color: cornflowerblue;
}

.book_shelf > .book_list {
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.book_shelf > .book_list > .book_item {
	padding: 8px 16px 16px 16px;
	border: 1px solid black;
	border-radius: 5px;
	transition: 1s;
}

.book_shelf > .book_list > .book_item > h3,
p {
	margin: 8px 0;
}

.action {
	display: flex;
	gap: 5px;
}

.green-button,
.red-button {
	border-radius: 8px;
	padding: 5px 10px;
	font-family: "Raleway";
}

.green-button:hover,
.red-button:hover {
	transition: 0.4s;
}

.green-button {
	border: 1px solid darkgreen;
}

.green-button:hover {
	background: darkgreen;
	color: snow;
}

.red-button {
	border: 1px solid darkred;
}

.red-button:hover {
	background: darkred;
	color: snow;
}

.clear-button {
	position: absolute;
	top: 3.3px;
	right: 10px;
	font-size: 1.2em;
	color: rgb(122, 113, 113);
	background: transparent;
	border: none;
}

.clear-button:hover {
	color: black;
	font-size: 1.4em;
}

.highlight-book {
	background: rgb(184, 182, 182);
	transform: scale(1.05);
	margin: 20px 0;
}

.active-input {
	background: rgb(172, 170, 170);
}

#input-box {
	display: flex;
	position: relative;
}

#searchBookTitle {
	flex-grow: 1;
	padding: 5px;
	border-radius: 15px;
}

.outer-modal {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
}

.active-modal {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 250px;
	width: 500px;
	margin: 30px;
	background: rgb(250, 253, 255);
	padding: 20px;
	border-radius: 20px;
	border: 1px solid black;
}

.button-modal-container {
	display: flex;
	gap: 10px;
	padding: 0s 10px;
	flex-direction: row-reverse;
}
